html, body, #container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
body {
  /* height of .navbar, customize with @navbar-height variable */
  padding-top: 50px;
}
.navbar {
  min-height: 50px;
}
#sidebar {
  float: left;
  height: 100%;
  max-width: 100%;
  width: 400px;
}
#map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: auto;
}
.sidebar-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
#sidebar {
  display: none;
}
}

.navbar-warning1.navbar {
    background-color: #25ac37;
    color: rgba(255, 255, 255, 0.84);
}

#container{
  background-color: #fff;
}

.fa-lg{
  font-size:30px;
}
.thumbs-up-inactive, .thumbs-down-inactive, .thumbs-morning-inactive, .thumbs-lunch-inactive, .thumbs-night-inactive{
  color:grey!important;
}
.thumbs-up-active{
  color:green!important;
}
.thumbs-down-active{
  color:red!important;
}
.thumbs-morning-active{
  color:green!important;
}
.thumbs-lunch-active{
  color:orange!important;
}
.thumbs-night-active{
  color:blue!important;
}
.imageContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.imageCenterer {
  width: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -500px;
}
.imageCenterer img {
  display: block;
  margin: 0 auto;
}

.myclusterQT{
  /*border-radius: 25px!important;*/
  /*width: 50px!important;*/
  /*height: 50px!important;*/
  font-family: 'Open Sans', sans-serif;
  line-height:15px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: black;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  padding: 3px;
  box-sizing: border-box;
  color: RGB(255,255,255);
  border: 1px solid RGBa(0,0,0,0.7);
  background-color: RGBa(255,255,255,0.7);
}
.myclusterSTlabel{
  /*border-radius: 25px!important;*/
  /*width: 50px!important;*/
  /*height: 50px!important;*/
  left:40px;
  top:15px;
  font-family: 'Open Sans', sans-serif;
  line-height:15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  -webkit-text-fill-color: rgba(0,0,0,1); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(168,168,168,0.5);
  /*padding-top: 60px;*/
  box-sizing: border-box;
  color: RGB(255,255,255);
  /*border: 2px solid #2651FF;*/
  /*background-color: RGBa(255,255,255,0.7);*/
}
